.btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  padding: 17px 18px 17px 18px;
  @include transition(0.3s);
}
.btn-primary {
  color: $white;
  padding: 17px 18px 17px 18px;
  @include border-radius(97px);
  background-color: $primary-2;
  border: 1px solid $primary-2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  svg {
    stroke: $white;
    transition: all 0.3s ease;
  }
  &:hover,
  &:focus-visible {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    box-shadow: none;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:active {
    background-color: $primary;
    border: 1px solid $primary;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:disabled,
  &.disabled {
    color: $gray-2;
    background-color: $primary-2;
    border: 1px solid $primary-2;
    opacity: 0.7;
    svg {
      stroke: $gray-2;
    }
  }
}
.btn-close-primary {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  @include border-radius(50%);
  background-color: $primary-2;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  svg {
    stroke: $white;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
}
.btn-close-text {
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  padding: 0;
  border: none;
  @include border-radius(0);
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease;
  svg {
    fill: $black;
    transition: all 0.3s ease;
  }
  &:hover {
    color: $primary-2;
    svg {
      transform: scale(1.2);
      fill: $primary-2;
    }
  }
}
.btn-search {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  svg {
    stroke: $black;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      transform: scale(1.2);
      stroke: $primary;
    }
  }
}
.btn-login {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  @include border-radius(50%);
  transition: all 0.3s ease;
  svg {
    stroke: $black;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      transform: scale(1.2);
      stroke: $primary;
    }
  }
}
.btn-cart-small {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  @include border-radius(50%);
  transition: all 0.3s ease;
  svg {
    stroke: $black;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      transform: scale(1.2);
      stroke: $primary;
    }
  }
}
.btn-bay-car-wash {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $black;
  background-color: $white;
  padding: 21px 18px 21px 18px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  @include border-radius(97px);
  transition: all 0.3s ease;
  svg {
    stroke: $black;
    transition: all 0.3s ease;
  }
  &:hover {
    color: $primary;
    svg {
      transform: scale(1.2);
      transition: all 0.3s ease;
      stroke: $primary;
    }
  }
}
.btn-bay-car-wash-primary {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $white;
  background-color: $primary-2;
  padding: 12px 18px 12px 18px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 42px;
  @include border-radius(97px);
  transition: all 0.3s ease;
  svg {
    stroke: $white;
    transition: all 0.3s ease;
  }
  &:hover {
    color: $white;
    background-color: $primary;
    svg {
      transform: scale(1.2);
      transition: all 0.3s ease;
      stroke: $white;
    }
  }
}
.btn-download {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $black;
  text-decoration: none;
  background-color: $white;
  padding: 14px 18px 14px 18px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  @include border-radius(97px);
  transition: all 0.3s ease;
  svg {
    stroke: $black;
    transition: all 0.3s ease;
  }
  &:hover {
    color: $primary;
    text-decoration: none;
    svg {
      transform: scale(1.2);
      transition: all 0.3s ease;
      stroke: $primary;
    }
  }
}
.btn-read-more {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $black;
  text-decoration: none;
  background-color: $white;
  padding: 14px 18px 14px 18px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  @include border-radius(97px);
  transition: all 0.3s ease;
  svg {
    stroke: $black;
    transition: all 0.3s ease;
  }
  &:hover {
    text-decoration: none;
    color: $primary;
    svg {
      transform: scale(1.2);
      transition: all 0.3s ease;
      stroke: $primary;
    }
  }
  &.btn-lg {
    padding: 18px 18px 18px 18px;
  }
}
.switch-input {
  border: 1px solid $primary-2;
  background-color: $primary-2;
  position: relative;
  display: flex;
  align-items: center;
  width: 226px;
  height: 42px;
  overflow: hidden;
  @include border-radius(97px);
  input {
    display: none;
  }
  label {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $white;
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    @include border-radius(97px);
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: all 0.5s ease;
  }
  .background {
    position: absolute;
    width: calc(50% - 0px);
    height: calc(100% - 0px);
    background-color: $white;
    top: 0px;
    right: 0px;
    @include border-radius(97px);
    transition: right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
  }

  .input-check:nth-child(1):checked ~ .background {
    right: calc(50% + 0px);
  }
  .input-check:checked + label {
    transition: all 0.5s ease;
    color: $black;
  }
}
.wrap-input-checbox-tag {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 30px;
  input {
    display: none;
  }
  label {
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    border: 2px solid $white;
    background-color: $white;
    @include border-radius(97px);
    display: inline-block;
    height: 100%;
    align-content: center;
    align-items: center;
    padding: 0px 18px 0px 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: $primary;
    }
  }
  input:checked + label {
    background-color: $gray;
  }
}
.btn-add-cart {
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  height: 36px;
  padding: 8px 18px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  @include border-radius(97px);
  border: 2px solid $primary-2;
  background: $primary-2;
  @include transition(0.3s);
  svg {
    stroke: $white;
    transition: all 0.3s ease;
  }
  &:hover,
  &:focus-visible {
    color: $white;
    background-color: $primary;
    border: 2px solid $primary;
    box-shadow: none;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:active {
    background-color: $primary;
    border: 2px solid $primary;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:disabled,
  &.disabled {
    color: $gray-2;
    background-color: $primary-2;
    border: 2px solid $primary-2;
    opacity: 0.7;
    svg {
      stroke: $gray-2;
    }
  }
}
.btn-add-cart-white {
  color: $primary-2;
  @include border-radius(97px);
  border: 2px solid $primary-2;
  background: $white;
  @include transition(0.3s);
  svg {
    stroke: $primary-2;
    transition: all 0.3s ease;
  }
  &:hover,
  &:focus-visible {
    color: $white;
    background-color: $primary;
    border: 2px solid $primary;
    box-shadow: none;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:active {
    background-color: $primary;
    border: 2px solid $primary;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:disabled,
  &.disabled {
    color: $gray-2;
    background-color: $primary-2;
    border: 1px solid $primary-2;
    opacity: 0.7;
    svg {
      stroke: $gray-2;
    }
  }
}
.btn-pre-order {
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  height: 36px;
  padding: 8px 18px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  @include border-radius(97px);
  border: 1px solid $primary-2;
  background: $primary-2;
  svg {
    stroke: $white;
    transition: all 0.3s ease;
  }
  &:hover,
  &:focus-visible {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    box-shadow: none;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:active {
    background-color: $primary;
    border: 1px solid $primary;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:disabled,
  &.disabled {
    color: $gray-2;
    background-color: $primary-2;
    border: 1px solid $primary-2;
    opacity: 0.7;
    svg {
      stroke: $gray-2;
    }
  }
}
.btn-fast-view {
  color: $gray-2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;
  width: 32px;
  padding: 2px;
  @include border-radius(50%);
  border: 1px solid $gray-4;
  background: $white;
  svg {
    stroke: $gray-4;
    transition: all 0.3s ease;
    circle {
      fill: $gray-4;
    }
  }
  &:hover,
  &:focus-visible {
    color: $primary-2;
    background-color: $white;
    border: 1px solid $primary-2;
    box-shadow: none;
    svg {
      transform: scale(1.2);
      stroke: $primary-2;
      circle {
        fill: $primary-2;
      }
    }
  }
  &:active {
    background-color: $primary;
    border: 1px solid $primary;
    svg {
      transform: scale(1.2);
      stroke: $white;
    }
  }
  &:disabled,
  &.disabled {
    color: $gray-2;
    background-color: $primary-2;
    border: 1px solid $primary-2;
    opacity: 0.7;
    svg {
      stroke: $gray-2;
    }
  }
}
