.section-category-products {
  .wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $white;
    @include border-radius(32px);
  }
  .row-products {
    margin-top: 24px;
  }
  .nav-pagination {
    margin-top: 23px;
  }
  .looked-products {
    margin-top: 70px;
  }
}
