.section-category-products {
  .wrapper {
    padding-top: 24px;
    padding-bottom: 32px;
    background-color: $white;
    @include border-radius(32px);
  }
  .row-products {
    margin-top: 24px;
  }
  .nav-pagination {
    margin-top: 23px;
  }
  .wrapper-swiper-product {
    margin-top: 70px;
  }
}
.row-categories-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.tag-category {
  color: $black;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  height: 30px;
  padding: 10px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  @include border-radius(97px);
  border: 1px solid $gray-3;
  background: $white;
  @include transition(0.3s);
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &.active {
    border: 1px solid $primary-2;
  }
}
