.section-content {
  .wrapper {
    padding-top: 24px;
    padding-bottom: 32px;
    background-color: $white;
    @include border-radius(32px);
  }
}
.content-product {
  color: $black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  h2 {
    color: $black;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 32px;
  }
  h3 {
    color: $black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 27px */
    margin-bottom: 8px;
  }
  h4 {
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 8px;
  }
  h5 {
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 8px;
  }
  p {
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 8px;
  }
  ol {
    padding-left: 20px;
    margin-bottom: 8px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 8px;
    li {
      color: $black;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 0px;
      padding-left: 20px;
      position: relative;
      &::before {
        content: '';
        width: 4px;
        height: 4px;
        @include border-radius(50%);
        background-color: $black;
        display: inline-block;
        position: absolute;
        left: 4px;
        top: 8px;
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
    @include border-radius(32px);
  }
}
.content {
  color: $black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
  h2 {
    color: $black;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 32px;
    @include media-breakpoint-down(md) {
      font-size: 26px;
      margin-bottom: 24px;
    }
  }
  h3 {
    color: $black;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
    @include media-breakpoint-down(md) {
      font-size: 22px;
    }
  }
  h4 {
    color: $black;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
  }
  h5 {
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 16px;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
  h6 {
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 16px;
    padding: 38px 0px 38px 32px;
    border-left: 1px solid $gray-3;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
  p {
    color: $black;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 32px;
    @include media-breakpoint-down(md) {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }
  ol {
    padding-left: 20px;
    margin-bottom: 32px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 32px;
    li {
      color: $black;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0%;
      margin-bottom: 4px;
      padding-left: 20px;
      position: relative;
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
      &::before {
        content: '';
        width: 4px;
        height: 4px;
        @include border-radius(50%);
        background-color: $black;
        display: inline-block;
        position: absolute;
        left: 4px;
        top: 8px;
      }
    }
    &.ul-line {
      li {
        padding-left: 35px;
        &::before {
          content: '';
          width: 19px;
          height: 1px;
          background-color: $black;
          display: inline-block;
          position: absolute;
          left: 4px;
          top: 10px;
        }
      }
    }
  }
  hr {
    margin-bottom: 32px;
    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    @include border-radius(32px);
  }
  .font-big {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
  }
  .small {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  .p-border-bottom {
    padding-bottom: 10px;
    margin-bottom: 16px;
    border-bottom: 1px solid;
  }
  .p-background {
    padding: 16px;
    @include border-radius(24px);
    background: $gray;
  }
  a {
    color: $black;
    text-decoration: underline;
    &:hover {
      color: $primary-2;
    }
  }
  table {
    margin-bottom: 32px;
    th {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      @include media-breakpoint-down(md) {
        font-size: 16px;
        margin-bottom: 24px;
      }
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
    }
  }
}
