.content {
  color: $black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  h2 {
    color: $black;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 27px */
    margin-bottom: 8px;
  }
  h3 {
    color: $black;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 27px */
    margin-bottom: 8px;
  }
  h4 {
    color: $black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 8px;
  }
  h5 {
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 8px;
  }
  p {
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 8px;
  }
  ol {
    padding-left: 20px;
    margin-bottom: 8px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 8px;
    li {
      color: $black;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 0px;
      padding-left: 20px;
      position: relative;
      &::before {
        content: '';
        width: 4px;
        height: 4px;
        @include border-radius(50%);
        background-color: $black;
        display: inline-block;
        position: absolute;
        left: 4px;
        top: 8px;
      }
    }
  }
}
