header {
  margin-bottom: 32px;
  position: relative;
  z-index: 2;
  .wrapper {
    padding-top: 24px;
  }
  .top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @include media-breakpoint-down(md) {
      gap: 20px;
    }
  }
  .logo {
    width: 147px;
    height: 60px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 18px;
    border: 0;
    background-color: $white;
    text-decoration: none;
    @include border-radius(97px);
  }
  .btn-catalog {
    width: 274px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 21px 18px 21px 18px;
    border: 0;
    @include border-radius(97px);
    transition: all 0.3s ease;
    .dotes {
      display: flex;
      gap: 3px;
      align-items: center;
      .dote {
        width: 4px;
        height: 4px;
        background-color: $black;
        @include border-radius(50%);
        transition: all 0.3s ease;
      }
    }
    &:hover {
      color: $primary-2;
      .dotes {
        .dote {
          transform: scale(1.2);
          background-color: $primary-2;
        }
      }
    }
  }
  .nav-menu {
    @include border-radius(97px);
    padding: 19px 16px;
    background: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    ul {
      display: flex;
      gap: 24px;
      padding: 0;
      margin: 0;
      list-style: none;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
      li {
        padding: 0;
        a {
          color: $white;
          text-decoration: none;
          padding: 2px;
          transition: text-shadow 0.3s ease 0.2s;
          &:hover {
            text-shadow: 0px 0px 12px $white, 0px 0px 10px $white;
            text-decoration: none;
            transition: text-shadow 0.3s ease 0.1s;
          }
        }
        &.active {
          a {
            text-shadow: 0px 0px 12px $white, 0px 0px 10px $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.main-page {
  &::before {
    content: '';
    max-width: 1440px;
    height: 460px;
    margin: 0 auto;
    display: block;
    background-image: url(../images/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  header {
    .wrapper {
      padding-top: 24px;
    }
  }
}

.section-breadcrumbs-title {
  margin-bottom: 24px;
  .wrap-breadcrumbs {
    margin-top: 20px;
    .breadcrumbs {
      padding: 0;
      margin: 0;
      margin-bottom: 12px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 20px 4px;
      align-items: center;
      li {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        &::before {
          content: '—';
          color: $white;
          display: inline-block;
          margin-right: 2px;
        }
        &:first-child::before {
          display: none;
        }
        &:last-child::before {
          color: $gray-4;
        }
        a {
          color: $white;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover {
            color: $gray-4;
          }
        }
        span {
          color: $gray-4;
        }
        svg {
          fill: $gray-6;
          transition: all 0.3s ease;
        }
        &:hover {
          svg {
            fill: $white;
          }
        }
      }
    }
    h1 {
      color: $white;
      font-size: 36px;
      font-weight: 600;
      line-height: 100%;
      margin-bottom: 0;
    }
  }
}
.section-header-search {
  margin-bottom: 24px;
  .header-bottom {
    display: flex;
    justify-content: space-between;
  }
  .wrap-search {
    max-width: 706px;
    width: 60%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    @include border-radius(97px);
    background: $white;
    input {
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      width: 100%;
      padding: 0;
      border: none;
      background: none;
      outline: none;
      &::placeholder,
      &:-moz-placeholder,
      &:-ms-input-placeholder {
        color: $gray-2;
      }
      &:hover {
        outline: none;
      }
    }
  }
}
