.section-models-car-wash {
  .wrapper-for-title {
    background-color: $white;
    @include border-radius(32px 32px 0px 0px);
    padding-top: 30px;
    padding-bottom: 47px;
    height: 116px;
    .title-section {
      color: $black;
      font-size: 30px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 0;
    }
  }
  .model-car-wash.first {
    margin-top: -23px;
  }
}
.model-car-wash {
  .wrapper {
    padding-top: 20px;
    @include border-radius(32px);
    background: $gray;
  }
  .wrap-title-toggle {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
    .title {
      color: $black;
      font-size: 20px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 0;
    }
  }
  .wrap-wash {
    position: relative;
    height: 520px;
    background-repeat: no-repeat;
    background-position: 0px -120px;
    background-size: 90%;
    @include media-breakpoint-down(lg) {
      height: 420px;
    }
    @include media-breakpoint-down(md) {
      background-position: 0px 0px;
      height: 380px;
    }
  }
  .navigation {
    gap: 10px 0px;
  }
  .tooltip-help {
    right: 15%;
    top: 10%;
    position: absolute;
  }
  .btn-download {
    position: absolute;
    bottom: 16px;
    left: 0px;
  }
}
