.row-products {
}
.item-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  padding: 12px 5px;
  @include border-radius(20px);
  border: 1px solid $gray-3;
  background: $white;
  @include transition(0.3s);
  &:hover {
    border: 1px solid $primary-2;
  }
  .wrap-img {
    height: 172px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item-body {
    padding: 0px 15px;
  }
  .wrap-price {
    margin-bottom: 16px;
  }
  .wrap-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .articul {
    color: $gray-4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
  }
  .name {
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 54px;
    margin-bottom: 10px;
    a {
      color: $black;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        color: $primary-2;
      }
    }
  }
  .price {
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .stock {
    color: $green;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;
    &::before {
      content: '';
      width: 4px;
      height: 4px;
      @include border-radius(50%);
      background-color: $green;
      display: inline-block;
    }
  }
}
