.row-products {
  gap: 12px 0px;
}
.product-layout {
  transition: width 0.5s ease;
}
.item-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  flex-shrink: 0;
  padding: 12px 5px;
  @include border-radius(20px);
  border: 1px solid $gray-3;
  background: $white;
  transition: border 0.3s ease;
  &:hover {
    border: 1px solid $primary-2;
  }
  .wrap-img {
    width: 100%;
    max-width: 248px;
    height: 172px;
    text-align: center;
    transition: width 0.3s ease, height 0.3s ease;
    @include media-breakpoint-down(md) {
      max-width: 320px;
    }
    @include media-breakpoint-down(sm) {
      height: 200px;
      max-width: 440px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(0.3s);
      @include media-breakpoint-down(sm) {
        object-fit: contain;
      }
    }
  }
  .item-body {
    width: 100%;
    max-width: 100%;
    min-width: 100px;
    padding: 0px 15px;
  }
  .wrap-price {
    margin-bottom: 16px;
  }
  .wrap-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include transition(0.3s);
  }
  .articul {
    color: $gray-4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
  }
  .name {
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 54px;
    margin-bottom: 10px;
    a {
      color: $black;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        color: $primary-2;
      }
    }
  }
  .description {
    color: $gray-2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: -1px;
    position: relative;
    top: -1px;
    transition: all 0.3s ease;
  }
  .price {
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .stock {
    color: $green;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;
    &::before {
      content: '';
      width: 4px;
      height: 4px;
      @include border-radius(50%);
      background-color: $green;
      display: inline-block;
    }
    &.no-stock {
      color: $gray-4;
      &::before {
        background-color: $gray-4;
      }
    }
  }
  .wrap-quantity {
    display: none;
  }
  .btn-fast-view {
    span {
      opacity: 0;
      visibility: hidden;
      width: 0px;
      height: 0px;
      overflow: hidden;
      position: absolute;
      transition: all 0.3s ease;
    }
  }
}
.product-list {
  .item-product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6px 25px;
    width: 100%;
    .wrap-img {
      max-width: 248px;
      width: 248px;
      transition: width 0.3s ease, height 0.3s ease;
    }
    .item-body {
      width: calc(100% - 248px - 25px);
      max-width: 100%;
      min-width: 200px;
      padding-right: 0px;
    }
    .articul {
      margin-bottom: 12px;
    }
    .name {
      min-height: 20px;
      margin-bottom: 6px;
    }
    .description {
      opacity: 1;
      visibility: visible;
      height: auto;
      width: auto;
      top: 0;
      margin-bottom: 10px;
      transition: opacity 0.3s ease;
    }
    .wrap-button {
      width: 100%;
      @include transition(0.3s);
      .btn-fast-view {
        width: auto;
        @include border-radius(97px);
        padding: 0px 18px;
        transition: all 0.2s ease;
        span {
          transition: all 0.3s ease 0.3s;
          opacity: 1;
          visibility: visible;
          width: auto;
          height: auto;
          overflow: auto;
          position: static;
        }
      }
    }
  }
}
.product-list-compact {
  .item-product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6px 17px;
    width: 100%;
    .wrap-img {
      width: 122px;
      height: 81px;
      transition: width 0.3s ease, height 0.3s ease;
    }
    .item-body {
      width: calc(100% - 122px - 17px);
      max-width: 100%;
      min-width: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 0px 40px;
      padding-right: 0;
      transition: none;
      .articul {
        width: 100%;
        flex: 0 0 auto;
        order: 0;
        transition: none;
      }
      .name {
        min-height: 20px;
        margin-bottom: 12px;
        order: 1;
        transition: none;
      }
      .description {
        order: 5;
        transition: none;
      }
      .wrap-price {
        order: 2;
        margin-left: auto;
        margin-bottom: 12px;
      }
      .stock {
        width: 100%;
        flex: 0 0 auto;
        order: 4;
        margin-bottom: 0;
        transition: none;
      }
      .wrap-button {
        width: 114px;
        height: 36px;
        justify-content: space-between;
        order: 3;
        margin-bottom: 12px;
        transition: background-color 0.3s ease;
        border-radius: 19px;
        .btn-add-cart {
          width: 36px;
          height: 36px;
          padding: 0;
          @include border-radius(50%);
          flex: 0 0 auto;
          align-items: center;
          span {
            display: none;
          }
        }
        .btn-pre-order {
          width: 100%;
        }
        .btn-fast-view {
          display: none;
        }
      }
      .wrap-quantity {
        display: flex;
        opacity: 0;
        transition: all 0.3s ease;
        justify-content: flex-start;
        width: auto;
        gap: 5px;
      }
    }
  }
  &:hover {
    .item-product {
      .wrap-button {
        border-radius: 19px;
        background-color: $gray-6;
        transition: background-color 0.3s ease;
      }
      .wrap-quantity {
        opacity: 1;
        transition: all 0.3s ease;
      }
    }
  }
}
.swiper-slide {
  .product-layout {
    .item-product {
      padding: 12px 24px;
      .wrap-img {
        max-width: 320px;
        height: 194px;
        @include media-breakpoint-down(md) {
          max-width: 320px;
        }
        @include media-breakpoint-down(sm) {
          height: 200px;
          max-width: 440px;
        }
      }
      .item-body {
        padding: 0;
        .name {
          min-height: 36px;
          margin-bottom: 12px;
        }
      }
    }
  }
}
.fastViewModal {
  .item-body {
    width: 80%;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    .articul {
      color: $gray-4;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
    }
    .name {
      color: $black;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 6px;
      a {
        color: $black;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: $primary-2;
        }
      }
    }
    .description {
      color: $black;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
    }
    .stock {
      color: $green;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 12px;
      &::before {
        content: '';
        width: 4px;
        height: 4px;
        @include border-radius(50%);
        background-color: $green;
        display: inline-block;
      }
      &.no-stock {
        color: $gray-4;
        &::before {
          background-color: $gray-4;
        }
      }
    }
    .wrap-price {
      margin-bottom: 10px;
    }
    .wrap-button {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    .attributes {
      margin-top: 32px;
      .title {
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 8px;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          color: $black;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          display: flex;
          align-items: center;
          gap: 6px;
          margin-bottom: 0px;
          padding-left: 5px;
          &::before {
            content: '';
            width: 4px;
            height: 4px;
            @include border-radius(50%);
            background-color: $black;
            display: inline-block;
          }
        }
      }
    }
  }
  .wrap-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    .form-group {
      margin-bottom: 0;
      label {
        display: inline-block;
        margin-bottom: 7px;
      }
    }
  }
}
