@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

$font-primary: 'TikTok Sans', sans-serif;
$font-size: 14px;
$line-height: 100%;
$font-weight: 400;
$body-color: #bdbdbd;

$white: #ffffff !default;
$primary: #01248f !default;
$primary-2: #0052ce !default;
$gray: #f0f0f0 !default;
$black-gray: #3b3b3b !default;
$gray-2: #787878 !default;
$gray-3: #c9c9c9 !default;
$gray-4: #919191 !default;
$gray-5: #f3f3f3 !default;
$gray-6: #d9d9d9 !default;
$gray-7: #c0c0c0 !default;
$gray-8: #bdbdbd !default;

$black: #1e1e1e !global;
$green: #0d9722 !global;

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
